/* ESPAÇO DO CENTRALIZAR */
body {
    width: 1340px;
    margin: auto;
  }
  
  /* ESPAÇO PARA FONTES E ESTILOS */
  h1,
  h2,
  h3,
  h4,
  li,
  p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 100;
  }
  h1,
  h2,
  h3,
  h4 {
    font-style: italic;
  }
  
  /*ESPAÇO DAS CORES*/
  body {
    background-color: #21272b;
  }
  #corpo {
    background-color: #ebebeb;
  }
  #flutuante {
    background-color: #1A3243
  }
  h1 {
    color: #1bb4e8;
  }
  #itens1 {
    background-color: #1bb4e8;
  }
  #itens2 {
    background-color: #c6b07f;
  }
  
  #rodape {
    background-color: #d3d3d3;
  }
  h2 {
    color: #ffffff;
  }
  h3 {
    color: #ffffff;
  }
  h4 {
    color: #21272b;
  }
  li a:link {
    color: #ffffff;
  }
  p {
    color: #21272b;
  }
  li a:hover {
    color: #1bb4e8;
    transition: 0.5s;
  }
  #bege {
    color: #c6b07f;
  }
  
  /*ESPAÇO DO TOPO*/
  #nome {
    display: inline-block;
    width: 200px;
    padding-top: 20px;
    padding-left: 10px;

  }
  h1,
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #logo {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  /*ESPAÇO DO MENU*/
  li {
    display: inline-block;
    padding-left: 10px;
  }
  
  .sep {
    padding-right: 10px;
    border-right: 2px;
    border-right-style: solid;
    border-right-color: white;
    color: white ;
  }
  
  li a:link {
    text-decoration: none;
  }
  ul {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    padding: 0px;
    width: 720px;
    position: relative;
    top: -25px;
    left: 670px;
  }
  
  /*IMAGEM PRINCIPAL*/
  #imgprincipal {
    width: 1340px;
  }
  
  /*BLOCO FLUTUANTE*/
  #flutuante {
    width: 520px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    position: relative;
    top: -300px;
    left: 700px;
  }
  #linha1 {
    font-size: 2.3em;
  }
  #linha2 {
    font-size: 1.3em;
    display: inline-block;
    width: 380px;
    padding-left: 20px;
  }
  #logo2 {
    display: inline-block;
    width: 30px;
    padding-top: 30px;
  }
  
  /*CORPO*/
  #corpo {
    position: absolute;
    top: 780px;
    width: 1340px;
  }
  .subtitulo {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
  }
  .texto {
    font-size: 0.9em;
    margin: 0px;
    padding-bottom: 20px;
  }
  #itens1 {
    width: 635px;
    margin: 0px;
    height: 40px;
  }
  #itens2 {
    width: 600px;
    margin: 0px;
    height: 40px;
  }
  #col1text {
    position: relative;
    top: -15px;
  }
  #coluna1,
  #coluna2 {
    display: inline-block;
    margin-left: 35px;
    margin-top: 30px;
  }
  #coluna1 {
    width: 635px;
  }
  #coluna2 {
    width: 600px;
  }
  
  #imgdestino {
    width: 100%;
  }
  .imgfrota {
    width: 286px;
  }
  #espaco1 {
    padding-top: 14px;
    padding-right: 12px;
  }
  #espaco2 {
    padding-right: 12px;
  }
  
  h3 a:link {
    text-decoration: none;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
  }
  
  .titulo {
    width: 100px;
    padding-left: 5px;
    display: inline-block;
    margin: 0px;
    position: relative;
    top: -8px;
  }
  
  /*RODAPÉ*/
  #rodape {
    padding: 20px;
    font-size: 0.8em;
  }